body {
    background-color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    /* Header */
.header_logo{
    font-weight: normal;
    background-color: antiquewhite;
    text-align: left;
    font-size: 15px;
    width: 100%;
}
    
.nav-list {
    list-style-type:none;
}

.nav-list li {
    display: inline;
    position: relative;
    float: right;
    font-size: 15px;
    margin: 0 px;
    padding-left: 16px;
    border-left: 32px;
    color: red;   
    
}
.logo-img {
    float: left;
    margin: 0px 15px 15px 15px;
}

/* Main Body pictures */
.main_body {
    background-color: grey;
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: left;
}
img{ 
    max-width: 100%;

}
.image {
    flex-basis: 60%;
}
.text {
    font-size: 12px;
    padding-left: 24px;
    justify-items: right;
    max-width: 50%;
}
/*.banner_pic {
    width: 60%;
    display:inline;
    padding-left: 24px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    height: auto;
}*/
    .text_h1 {
    color: blanchedalmond;
    text-align: left;
    padding-left: 24px;
    
}
    .text_h2 {
    color: blanchedalmond;
    text-align:left;
    font-style: italic;
    padding-left: 24px;
   
}

.box{
    background-color:blanchedalmond ;
    font-size: 12px;
    padding: 8px;
    border: 1px solid lightsalmon;
    margin-left: 150px;
    margin-top: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

/*   OLD CSS
.nav {
    border-bottom: 1px solid red;
    display: inline-block;
    
    
}

.header_topbox ol {
    list-style-type: none;
    padding-left: 0;
    color: blue;
}

.header_topbox {
    display: inline-block;
    align-content: right;
    color:red;
    
}

.header_topbox a {
    display: inline-block;
    float: inline-end;
    color: gray;
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;

}*/
    
